@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
body,
.wrapperAdmin {
  min-height: 100vh;
  position: relative;
  background-color: white; }

p {
font-size: 16px;
line-height: 1.5; 
}

.card .content {
  padding: 15px 15px 10px 15px;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  }
/* ---------------------------------------------------
    sidebarAdmin
----------------------------------------------------- */

.sidebarAdmin {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center; }
    .sidebarAdmin .sidebarAdmin-wrapper {
      position: relative;
      height: calc(100vh - 75px);
      overflow: auto;
      width: 260px;
      z-index: 4;
      padding-bottom: 30px; }
    .sidebarAdmin .sidebarAdmin-background {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center; }
    .sidebarAdmin .logo {
      padding: 10px 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;
      z-index: 4; }
    .sidebarAdmin .infoUser {
      padding: 10px 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;
      z-index: 4; }
    .sidebarAdmin .infoUser p {
      float: center;
      font-size: 15px;
      margin: 10px 10px;
      color: #FFFFFF;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .sidebarAdmin .logo p {
        float: left;
        font-size: 20px;
        margin: 10px 10px;
        color: #FFFFFF;
        line-height: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .sidebarAdmin .logo a.logo-mini {
        float: left;
        text-align: center;
        width: 30px;
        margin-right: 15px; }
        .sidebarAdmin .logo a.logo-mini img {
          width: 40px;
          margin-left: -3px;
          display: block;
          margin-top: 2px; }
      .sidebarAdmin .logo a.logo-normal {
        display: block; }
      .sidebarAdmin .logo .logo-img {
        width: 34px;
        display: inline-block;
        height: 34px;
        margin-left: -2px;
        margin-top: -2px;
        margin-right: 10px;
        border-radius: 30px;
        text-align: center; }
    .sidebarAdmin .logo-tim {
      border-radius: 50%;
      border: 1px solid #333;
      display: block;
      height: 61px;
      width: 61px;
      float: left;
      overflow: hidden; }
      .sidebarAdmin .logo-tim img {
        width: 60px;
        height: 60px; }
    .sidebarAdmin .navAdmin {
      margin-top: 20px; }
      .sidebarAdmin .navAdmin li > a {
        color: #FFFFFF;
        margin: 5px 15px;
        opacity: .86;
        border-radius: 4px; }
      .sidebarAdmin .navAdmin li:hover > a,
      .sidebarAdmin .navAdmin li.open > a,
      .sidebarAdmin .navAdmin li.open > a:focus,
      .sidebarAdmin .navAdmin li.open > a:hover {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1; }
      .sidebarAdmin .navAdmin li.active > a {
        color: #FFFFFF;
        opacity: 1;
        background: rgba(255, 255, 255, 0.23); }
      .sidebarAdmin .navAdmin p {
        margin: 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase; }
      .sidebarAdmin .navAdmin .caret {
        top: 24px;
        position: absolute;
        right: 15px; }
      .sidebarAdmin .navAdmin i {
        font-size: 28px;
        float: left;
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center; }
  
  .sidebarAdmin .logo,
  body > .navbar-collapse .logo {
    padding: 10px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .sidebarAdmin .logo p,
    body > .navbar-collapse .logo p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: #FFFFFF;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .sidebarAdmin .logo .simple-text,
    body > .navbar-collapse .logo .simple-text {
      text-transform: uppercase;
      padding: 5px 0px;
      display: block;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 400;
      line-height: 30px; }
  
  .sidebarAdmin .logo-tim,
  body > .navbar-collapse .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden; }
    .sidebarAdmin .logo-tim img,
    body > .navbar-collapse .logo-tim img {
      width: 60px;
      height: 60px; }
  
  .sidebarAdmin:after, .sidebarAdmin:before,
  body > .navbar-collapse:after,
  body > .navbar-collapse:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; }
  
  .sidebarAdmin:before,
  body > .navbar-collapse:before {
    opacity: .33;
    background: #000000; }
  
  .sidebarAdmin:after,
  body > .navbar-collapse:after {
    background: #282828;
    background: -moz-linear-gradient(top, #282828 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #282828 0%, #111 100%);
    background: -o-linear-gradient(top, #282828 0%, #111 100%);
    background: -ms-linear-gradient(top, #282828 0%, #111 100%);
    background: linear-gradient(to bottom, #282828 0%, #111 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1; }
  
  .sidebarAdmin[data-image]:after, .sidebarAdmin.has-image:after,
  body > .navbar-collapse[data-image]:after,
  body > .navbar-collapse.has-image:after {
    opacity: .77; }
  
  .sidebarAdmin[data-color="blue"]:after,
  body > .navbar-collapse[data-color="blue"]:after {
    background: #1b8dff;
    background: -moz-linear-gradient(top, #1b8dff 0%, #2632c1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b8dff), color-stop(100%, #2632c1));
    background: -webkit-linear-gradient(top, #1b8dff 0%, #2632c1 100%);
    background: -o-linear-gradient(top, #1b8dff 0%, #2632c1 100%);
    background: -ms-linear-gradient(top, #1b8dff 0%, #2632c1 100%);
    background: linear-gradient(to bottom, #1b8dff 0%, #2632c1 100%);
    background-size: 150% 150%; }
  
  .sidebarAdmin[data-color="azure"]:after,
  body > .navbar-collapse[data-color="azure"]:after {
    background: #1DC7EA;
    background: -moz-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, #4091ff));
    background: -webkit-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -o-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -ms-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%);
    background-size: 150% 150%; }
  
  .sidebarAdmin[data-color="green"]:after,
  body > .navbar-collapse[data-color="green"]:after {
    background: #87CB16;
    background: -moz-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, #6dc030));
    background: -webkit-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -o-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -ms-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: linear-gradient(to bottom, #87CB16 0%, #6dc030 100%);
    background-size: 150% 150%; }
  
  .sidebarAdmin[data-color="orange"]:after,
  body > .navbar-collapse[data-color="orange"]:after {
    background: #FFA534;
    background: -moz-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, #ff5221));
    background: -webkit-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -o-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -ms-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: linear-gradient(to bottom, #FFA534 0%, #ff5221 100%);
    background-size: 150% 150%; }
  
  .sidebarAdmin[data-color="red"]:after,
  body > .navbar-collapse[data-color="red"]:after {
    background: #FB404B;
    background: -moz-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, #bb0502));
    background: -webkit-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -o-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -ms-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%);
    background-size: 150% 150%; }
  
  .sidebarAdmin[data-color="purple"]:after,
  body > .navbar-collapse[data-color="purple"]:after {
    background: #9368E9;
    background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
    background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    background-size: 150% 150%; }

/* ---------------------------------------------------
    Main panel
----------------------------------------------------- */
    .mainPanel {
        background: grey;
        position: relative;
        float: right;
        min-height: 100vh;
        width: calc(100% - 260px); }
        .mainPanel > .content {
          padding: 30px 15px;
          min-height: calc(100% - 123px); }
        .mainPanel > .footerAdmin {
          border-top: 1px solid #FFFFFF; }
        .mainPanel .navbar {
          margin-bottom: 0; }
      
      .sidebarAdmin,
      .mainPanel {
        -webkit-transition-property: top,bottom;
        transition-property: top,bottom;
        -webkit-transition-duration: .2s,.2s;
        transition-duration: .2s,.2s;
        -webkit-transition-timing-function: linear,linear;
        transition-timing-function: linear,linear;
        -webkit-overflow-scrolling: touch; }

        .navAdmin > li > a:hover,
        .navAdmin > li > a:focus {
          background-color: transparent; }
.navAdmin > li{
  position: relative;
  display: block;
}

.navAdmin > li > a{
  position: relative;
  display: block;
}

.navAdmin{
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* ---------------------------------------------------
    CONTENT 
----------------------------------------------------- */


  .copyright {
    color: #777777;
    padding: 10px 15px;
    font-size: 14px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
  }

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.footerAdmin {
    background-color: #FFFFFF;
    line-height: 20px; 
    
    }
.footerAdmin .copyright {
      color: #777777;
      padding: 10px 15px;
      margin: 10px 3px;
      line-height: 20px;
      font-size: 14px; }
.footerAdmin hr {
      border-color: #DDDDDD; }
.footerAdmin .title {
      color: #777777; }
      .footer-default {
        background-color: #F5F5F5; }
      
      .footer:not(.footer-big) nav > ul {
        font-size: 14px; }
        .footer:not(.footer-big) nav > ul li {
          margin-left: 20px;
          float: left; }
        .footer:not(.footer-big) nav > ul a {
          padding: 10px 0px;
          margin: 10px 10px 10px 0px; }
          .footerAdmin nav.pull-left {
            float: none !important; }
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* 3a3e4e */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.imageContent{
  margin: 10px;
  width: 350px;
  height: 200px;
  line-height: 115px;
  text-align: center;
  border: 1px solid rgb(58, 51, 51);
}

.imgPadre{
  align-items: center;
  display: flex;
  justify-content: center;
}

.imageContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageContent>img{
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

.flexContainer {
    display:flex;
    align-items:center;
  }
  
.customSpan {
    margin-left: 8px;    
}

.customSpanAdmin {
    margin-left: 20px;    
}

.iconAdmin{
	width: 40px;
}

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px; 
}

.card-stats .icon-big i {
  font-weight: bold;
  line-height: 59px; 
}

.card-stats .numbers {
  font-size: 2em;
  text-align: right; 
}

.card-stats .numbers p {
  margin: 0; 
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebarAdmin {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebarAdmin.active {
        margin-left: 0 !important;
    }
    #sidebarAdmin .sidebarAdmin-header h3,
    #sidebarAdmin .CTAs {
        display: none;
    }
    #sidebarAdmin .sidebarAdmin-header strong {
        display: block;
    }
    #sidebarAdmin ul li a {
        padding: 20px 10px;
    }
    #sidebarAdmin ul li a span {
        font-size: 0.85em;
    }
    #sidebarAdmin ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebarAdmin ul ul a {
        padding: 10px !important;
    }
    #sidebarAdmin ul li a i {
        font-size: 1.3em;
    }
    #sidebarAdmin {
        margin-left: 0;
    }
    #sidebarAdminCollapse span {
        display: none;
    }
}

