body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  /* position: relative; */
  /* background-image: url('../img/roboshot-bg.jpg'); */
}

.navbarPrincipal {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.modal-cuerpo{
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-custom{
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.avatar{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.image-parent {
  max-width: 40px;
}

.avatar img{
  width: 100%;
}

.imagenReceta{
  max-height: 255px;
}

nav ul{
	list-style: none;
	display: flex;
}

.scrollDiv{
  max-height: 364px;
  overflow-y: scroll;
}
.scrollPedido{
  max-height: 150px;
  overflow-y: scroll;
}

.scrollIngr{
  max-height: 250px;
  overflow-y: scroll;
}

.descripcionIng{
  height: 300px;
}

.modalTransparente .modal-content{
  background-color: transparent;
  border: 0px;
  border-color: transparent;
}

.new-recipe{
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.price {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #272343;
  font-size: medium;
  color: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 40px;
  padding: 9px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.pedir,
.new-recipe button {
  font-weight: 500;
  border: none;
  border-radius: 20px;
  color: white;
  background: #272343;
}

.pedir {
  font-size: 20px;
  color: white;
  width: 100px;
  position: relative;
  z-index: 2;
  background: #272343;
  background: #1c6e1c;
}

.new-recipe button{
  font-size: 17px;
  width: 200px;
  padding: 5px 10px;
  outline: none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.modal-title{
  color: #272343;
  font-weight: 550;
}

.primaryText {
  color: #272343;
  font-size: 18px;
}

.infoBtn{
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color:#272343;
}
.btn:hover {
  color: #fff;
}


.modal-style{
  border: 3px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  /* background: linear-gradient(#EB7070, #FFD782); */
}

.card {
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

/* size of image recipe */
.contentImage{
  margin: 1px;
  width: 400px;
  height: 255px;
  line-height: 115px;
  text-align: center;
}

.recipeImage{
  align-items: center;
  display: flex;
  justify-content: center;
}

.contentImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentImage>img{
  width: 100%;
  height: 100%;
  object-fit: contain;  
}


/* card de login */
.cardLogin {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  /*margin-top: 35px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-containerLogin.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card-containerEdit.card {
  max-width: 520px !important;
  padding: 40px 40px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.logoHome{
  height: 50px;
}

.logoAdmin {
  height: 30px;
}
.icon{
	width: 27px;
}
.icon-trash {
  height: 20px;
}

.deleteBtn {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 2;
}

/* input */
.ing-list {
  width: 70px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.ing-list,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

:root {
  /* Change this to change the appearance of the hexagons */
  --hex-width: 50px;
  --hex-between: 10px;
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73/* sqrt(3) */
  );
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73/* sqrt(3) */
  );
  --hex-transition: all .2s ease;
  /* Colors */
  --color-hex-default: #272343;
  --color-hex-hover: #FFFFFF;
}


/* Hexagons */

.hexagon-container {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
  margin-bottom: 20px;
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  color: white;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}

.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
  color: black;
}

.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(10n+6),
.hexagon:nth-child(10n+7),
.hexagon:nth-child(10n+8),
.hexagon:nth-child(10n+9),
.hexagon:nth-child(10n+10) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

